*{
    margin: 0;padding: 0;box-sizing: border-box;
}
:root{
  --PRIMERY-COLOR:#1d9bf0 ;
  --WHITE: #ffffff;
  --GRAY-80: #333333;
  --GRAY-90: #222222;
  --GRAY-100:#212121;
  --GREY-60: #929191;
  --GRAY-40: #8f8e8e;
  --GRAY-50: #7e7a7a;
  --GRAY-20: #C4C4C4;
  --BLACK-40:#131313;
  --Red-100:  red;
}
.logo-image{
    width: 5rem;
    height: auto;

}
.logo-heading{
    color: var(--GRAY-50);
    font-size: 2.8rem;
    align-items: center;
    margin-top: 1rem;
}
.logo-heading span{
  font-size: 2rem;
}
.navbar-logo-title-container{
    display: flex;
    gap: 2rem;
    align-content: center;
    margin-left: 3rem;
    font-size: 4rem;
    color: var(--WHITE);
}
.navbar-Fabar{
  align-items: center;
  margin-top: .8rem;
  font-size: 3.2rem;
  color:var(--PRIMERY-COLOR);
}
.navbar-logo-maindiv-md{
    display: flex;
    justify-content: space-between;
}
.navbar-side-section{
    display: flex;
    font-size:6rem;
    gap: 2rem;
    color:var(--WHITE);
    align-items: center;
    margin-right: 2rem;
}
.input-lg-search{
  width: 40rem;
  height: 2.7rem;
}
.search-icon{
  color: var(--WHITE);
  font-size: 2.5rem;
  font-weight: 300;
}
.login-icon{
 font-size: 2.8rem;
 color: var(--WHITE);
 display: flex;
 align-items: center;
}
/************side-menu*************/
.aside-list-icons{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 6.8rem;
margin-left: 7rem; 
list-style: none;
font-size: 3rem;
margin-top: 3rem;
color: var(--WHITE);
}

.icons-bar{
  width: auto;
  display: flex;
  flex-direction:column;
}
.icon-md{
  font-size: 3rem;
  color: var(--WHITE);
}
.main-hero-section{
    margin-top: .2rem;
    display: grid;
    grid-template-columns: .56fr 4.5fr; 
    height: auto;
}
.bar-bar1{
  width: auto;
  height: 1px solid var(--WHITE);

}
.aside-list {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-direction: column;
}
.aside-text{
  width: 8rem;
  display: flex;
  align-items: center;
}

.hero-section-wrapper{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--BLACK-40);
    
}
.heroSsection-side-text{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 4rem;
  margin-left: 4rem;
  color: var(--WHITE);
  flex-wrap: wrap;
  flex-direction: column;
}
/***********card***************/
.card-main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.5rem;
    color: var(--WHITE);
    padding: 1.8rem;
}
.card-main-container:hover{
  transform: scale(1.02);
  z-index: 50;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0px 0px 10px var(--PRIMERY-COLOR);
}
.card-image-md{
  
    width: 30rem;
    height: auto;
}
.card-image-md-1{
  width: 10rem;
  height: 10rem;
  border-radius: 3%;
}
.card-discription-md{
  max-width: 30rem;
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.card-likes-views-md{
    display: flex;
    gap: 8rem;
    font-size: 2rem;
}
.single-video-icons{
  display: flex;
  gap: 3rem;
  font-size: 4rem;
}
.chennel-logo-img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-top: 2rem;
}
.chennel-container{
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 2rem;
  justify-content: baseline;
}
/****************Hero Section card********/
.hero-img-head{
  width: 90%;
  height: auto;
  margin-top: 4rem;
}
.heading-top{
  font-size: 4.5rem;
}
.heading-top span{
  font-size: 6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
.chip-section-wrapper{
    background-color: var(--GRAY-100);
    font-size: 3rem;
    color: var(--WHITE);
}
.card-section{
 display: flex;

}
.hero-section-container{
  background-color: var(--GRAY-90);
  height: 50%;
  gap: 25%;
  display: flex;
}
.btn-watchnow {
  background-color: rgb(1, 221, 255);
  width: 20%;
  margin-top: 2rem;
  padding: .6rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
/*********************************/

.btn-1 {
    background-color: #2c2c2c;
    padding: 1rem;
    border-radius: 3rem;
    margin: .8rem;
    color: var(--WHITE)!important;
    border-style: none;
    font-size: 1.3rem;
    border: 1px solid var(--GRAY-50);
}
.btn-1:hover{
  background-color: var(--WHITE);
  color: var(--GRAY-100)!important;
  font-weight: 500;
}
/*****search**/
.input-lg{
  width: 35rem;
  margin-top: 1.3rem;
  height: 3rem;
  background-color: white;
}
.Navbar-Search-section{
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: .3rem;
  
}
/***********card-categories***/
.cardcategories-container{
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  background-color: #2c2c2c;
  margin-top: 1.5rem;
  padding: 3rem;
}
.Video-listing{
  display: flex;
  flex-wrap: wrap;
}
/****************singlevideoPage****************/
.main-content-wrapper-singleVideo{
  height: 100vh;

}
.singleVideo{
  width: 100rem;
  height: auto;
  margin-left: 10rem;

}
.single-video-pge-container{
  display: flex;
  height: 100vh;
  gap: 4rem;
  background-color: var(--BLACK-40);
  overflow: scroll;
}
.main-section-wrapper{
display: grid;
grid-template-columns: 17rem 1fr;
}
.duration-label {
    position: relative;
    width: 6rem;
    background-color: #222222d8;
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    bottom: 3rem;
    right: -25rem;
    width: 4.4rem;
}
.seperation-line{
  width: 900px;
  background-color: var(--GRAY-20);
  height: 1px;
  margin-top: 4rem;
}
.description{
  margin-top: 2rem;
  font-size: 2rem;
  flex-wrap: wrap;
  width: 900px;
}
.main-section-heading-center {
    font-size: 2.8rem;
    margin: 2rem;
    color: white;
    font-weight: 500;
}
.single-video-card-container{
  max-width: 900px;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.card-main-container-singlevideo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.5rem;
    color: var(--WHITE);
    padding: 1.8rem;
    margin-left: 5rem;
}
.main-section-heading{
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.heading{
  font-size: 3rem;
  color: var(--WHITE);
}

/***********card-horizontal-container******************/
.card-horizontal-container{
  display: flex;
  width: 80%;
  height: auto;
  background-color: var(--GRAY-80);
  border-radius: 5px;
  margin-left: 5rem;
  padding: 1.2rem;
  margin-top: 4rem;
  justify-content: space-between;

}
.card-horizontal-container:hover{
transform: scale(1.02);
  z-index: 50;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0px 0px 10px var(--PRIMERY-COLOR);
}
.image-md{
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
}
.image-md-1{
  width: 90%;
  height: auto;
  border-radius: 5px;
}
.card-horizontal-titles{
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  color: var(--WHITE);
  flex-direction: column;
}
.titles{
  font-size: 2.1rem;
}
.close-btn{
  font-size: 4rem;
  color: var(--WHITE);
}
/***btb**/
.btn-btn-primary{
  background-color: var(--PRIMERY-COLOR);
  color: var(--WHITE)!important;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/********coments-section***********/
.comments-section{
  display: flex;
  font-size: 2.3rem;
  gap: 2rem;
}
.comment-md{
  margin: 1rem;
}
/**********play_list**********/
.playList-container{
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  background-color: var(--GRAY-80);
  color: var(--WHITE);
  width: 20rem;
  height: auto;

}
.playList-container-setion1{
  display: flex;
  justify-content: space-between;
  padding: 3px;
 
}
.seperation-line-playlist{
  background-color: var(--WHITE);
  height: 1px;
}
.creatre-new-palylist{
  display: flex;
}
.image-md-2{
  width: 40%;
  height: auto;
  padding: 4px;
}
.card-horizontal-container-1{
  width: auto;
  height: auto;
  display: flex;
  gap: 2rem;
}

.card-overlay {
    background-color: #56b8e9a6;
    z-index: 1;
    height: 100%;
    position: absolute;
    width: 40%;
    right: 0;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card--image {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.card--body {
  padding: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 100%;
  height: auto;
}

.card-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.card--title {
  font-size: 1.3rem;
  margin-bottom: 0;
  color: var(--GRAY-100);
  display: flex;
  justify-content: center;
}

/*****/
.modal--container {
  backdrop-filter: brightness(0.09);
  position: fixed;
  min-width: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
  grid-gap: 2rem;
  grid-gap: 2rem;
  gap: 2rem;
  padding: 2rem;
  z-index: 99;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
    border-radius: 5px;
    background-color: var(--GRAY-80);
    color: var(--WHITE);
    width: 23rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
  width: 22%;
  height: auto;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  color: var(--BLACK-80);
  font-weight: 400;
  position: relative;
  margin:4rem;
  padding: .5rem;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.divider {
  margin: 5px auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 1px;
}
.img-fluid {
  border-radius: 5px;
  margin-top: 0px;
  width: 100%;
  height: auto;
}
.input {
    background-color: transparent;
    border: none;
    width: 20rem;
    border-bottom: 2px solid var(--PRIMERY-COLOR);
    color: white;
    padding: 0rem 2rem 0.5rem 0.2rem;
}
.modal-content {
  padding: 0.5rem;
  position: relative;
}

.label {
  margin-bottom: -8px;
  padding-top: 0.5rem;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}


.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.checkbox-input {
  cursor: pointer;
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  align-items: flex-end;
  justify-content: baseline;
}

.checkbox {
  cursor: pointer;
  accent-color: var(--PRIMERY-COLOR);
  width: 1.5rem;
  height: 1.5rem;
}

.playlist-name {
  font-size: 1.5rem;
}

.btn-modal {
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  right: -14.3rem;
  border: transparent;
  background: transparent;
  color: var(--WHITE)!important;
  padding: 0.5rem 0;
  transition: 1s;
}

.btn-modal:hover {
  border-radius: 5px;
  position: relative;
  right: -14.1rem;
  transition: 1s;
  padding: 0.5rem;
  cursor: pointer;
  background-color:var(--PRIMERY-COLOR);
  color: var(--GRAY-80);
}

.modal-title {
  color:var(--PRIMERY-COLOR);
  font-size: 1.6rem;
}
input{
  font-size: 1.4rem;
  color: var(--GRAY-100);
}