*{
    margin: 0;padding: 0;box-sizing: border-box;
}
:root{
  --PRIMERY-color:#1d9bf0 ;
  --WHITE: #ffffff;
  --GRAY-80: #333333;
  --GRAY-90: #222222;
  --GRAY-100:#212121;
  --GREY-60: #929191;
  --GRAY-40: #8f8e8e;
  --GRAY-50: #7e7a7a;
  --GRAY-20: #C4C4C4;
  --black-40:#131313;
}
.logo-image{
    width: 5rem;
    height: auto;

}
.logo-heading{
    color: var(--GRAY-50);
    font-size: 2.8rem;
    align-items: center;
    margin-top: 1rem;
}
.logo-heading span{
  font-size: 2rem;
}
.navbar-logo-title-container{
    display: flex;
    gap: 2rem;
    align-content: center;
    margin-left: 3rem;
    font-size: 4rem;
    color: var(--WHITE);
}
.navbar-Fabar{
  align-items: center;
  margin-top: .8rem;
  font-size: 3.2rem;
  color: var(--WHITE);
}
.navbar-logo-maindiv-md{
    display: flex;
    justify-content: space-between;
}
.navbar-side-section{
    display: flex;
    font-size: 3.8rem;
    gap: 2rem;
    color:var(--WHITE);
    align-items: center;
    margin-right: 2rem;
}
/************side-menu*************/
.aside-list-icons{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 3rem;
 list-style: none;
 font-size: 3rem;
 color: var(--PRIMERY-color);
}
.icons-bar{
  font-size: 5rem;
}
.main-hero-section{
    margin-top: .2rem;
    display: grid;
    grid-template-columns: .56fr 4.5fr;
    height: 110vh;
}
.bar-bar1{
  width: auto;
  height: 1px solid var(--WHITE);

}
.hero-section-wrapper{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--black-40);
    
}
.heroSsection-side-text{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 4rem;
  margin-left: 4rem;
  color: var(--WHITE);
  flex-wrap: wrap;
  flex-direction: column;
}
/***********card***************/
.card-main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.5rem;
    color: var(--WHITE);
    padding: 1.5rem;
}
.card-image-md{
    width: 30rem;
    height: auto;
}
.card-image-md-1{
  width: 10rem;
  height: 10rem;
  border-radius: 3%;
}
.card-discription-md{
  max-width: 30rem;
  display: flex;
  flex-wrap: wrap;
}
.card-likes-views-md{
    display: flex;
    gap: 3rem;
    font-size: 1.8rem;
}
.chennel-logo-img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-top: 2rem;
}
.chennel-container{
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 2rem;
  justify-content: baseline;
}
/****************Hero Section card********/
.hero-img-head{
  width: 90%;
  height: auto;
  margin-top: 4rem;
}
.heading-top{
  font-size: 4.5rem;
}
.heading-top span{
  font-size: 6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
.chip-section-wrapper{
    background-color: var(--GRAY-100);
    font-size: 3rem;
    color: var(--WHITE);
}
.card-section{
 display: flex;

}
.hero-section-container{
  background-color: var(--GRAY-90);
  height: 45%;
  gap: 30%;
  display: flex;
}
.btn-watchnow{
  background-color: rgb(1, 221, 255);
  margin-top: 3rem;
  padding: .5rem;
  border-radius: 5px;
}
/*********************************/
.list-chip{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.list-chip li{
    background-color: #2c2c2c;
    padding: 1rem;
    border-radius: 3rem;
    margin: .8rem;
    font-size: 1.3rem;
    border: 1px solid var(--GRAY-50);
}
.list-chip li:hover{
  background-color: var(--WHITE);
  color: var(--GRAY-100);
  font-weight: 500;
}
/*****search**/
.input-lg{
  width: 35rem;
  margin-top: 1.3rem;
  height: 3rem;
  background-color: white;
}
.Navbar-Search-section{
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: .3rem;
  
}
/***********card-categories***/
.cardcategories-container{
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  background-color: #2c2c2c;
  margin-top: 1.5rem;
  padding: 3rem;
}
.Video-listing{
  display: flex;
  flex-wrap: wrap;
}
